<div class="container fromTop" ng-init="newQualification = {}">
    <h1 class="container">Creating new qualification</h1>
    <form name="newQualificationForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" ng-model="newQualification.name" required/>
                <p ng-show="newQualificationForm.name.$error.required" class="help-block"><b>Name is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button class="btn btn-default btnAlign" ng-disabled="newQualificationForm.$invalid" ng-click="qualifications.createQualification(newQualificationForm.$valid)"
                        ui-sref="showQualifications">Submit
                </button>
            </div>
        </div>
    </form>
</div>
