<div class="container fromTop" ng-init="qualifications.qualificationToEdit()">
    <h1 class="container">Editing qualification</h1>
    <form name="qualificationForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">New name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" ng-model="qualificationToEdit.name" ng-required="true"/>
                <p class="col-sm-2" ng-show="newQualificationForm.name.$error.required"><b>Name is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button class="btn btn-default btnAlign" ng-disabled="qualificationForm.$invalid" ng-click="qualifications.editQualification(qualificationForm.$valid)">Submit</button>
            </div>
        </div>
    </form>
</div>
