<div class="container fromTop" ng-init="qualifications.showQualifications()">
    <h1 class="container">Search for a qualification</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="qualification in listOfQualifications | filter: searchParams | orderBy:'name' | itemsPerPage: paginatorCount">
            <td>{{ qualification.name}}</td>
            <td><a ui-sref="editQualification({id: qualification.id})" class="btn btn-warning">Edit</a></td>
            <td><a ng-click="qualifications.deleteQualification(qualification)" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="createQualification" class="btn btn-default btnAlign">Add</button>
    </div>
</div>
