<div class="container fromTop">
    <h1 class="container">Welcome to the adding workers who had not taken part in recruitment wizard</h1>
    <p>This wizard will help you to go through the process of creating worker who had not taken part in recrutiment</p>
    <button ui-sref="createWorkerWizard" class="btn btn-default btnAlign ">Start wizard</button>
</div>
