//= depend_on_asset "app/templates/login.html"
//= depend_on_asset "app/templates/main.html"

'use strict';

var app = angular.module('app', ['ui.router', 'ui.calendar', 'ngAnimate', 'ui.bootstrap', 'ui.select', 'ui.checkbox', 'chart.js', 'angular-advanced-searchbox', 'pdf', 'angularUtils.directives.dirPagination', 'Devise', 'appDirectives', 'appModels', 'appServices', 'appControllers']);


app.config([
  '$locationProvider', '$stateProvider', '$urlRouterProvider', '$httpProvider', 'AuthProvider', 'AuthInterceptProvider',
  function ($locationProvider, $stateProvider, $urlRouterProvider, $httpProvider, AuthProvider, AuthInterceptProvider) {
    $locationProvider.html5Mode(true);

    AuthProvider.loginPath('/api/workers/sign_in.json');
    AuthProvider.logoutPath('/api/workers/sign_out.json');
    AuthProvider.registerPath('/api/workers/sign_up');
    AuthProvider.resourceName('worker');

    $urlRouterProvider.otherwise('/404');
    $stateProvider.state('login', {
      url: '/login',
      templateUrl: "<%= asset_path('app/templates/login.html') %>",
      controller: 'SessionsController',
      controllerAs: 'sessions',
    }).state('logout', {
      url: '/logout',
      controller: 'SessionsLogoutController',
    }).state('main', {
      url: '/',
      templateUrl: "<%= asset_path('app/templates/main.html') %>",
    }).state('createWorker', {
      url: "/worker/create",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/create.html') %>",
    }).state('showArchive', {
      url: "/worker/archive/show",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/archive.html') %>",
    }).state('archiveDetails', {
      url: "/worker/archive/:id/details",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/archiveDetails.html') %>",
    }).state('showDetailsOfWorker', {
      url: "/worker/:id/details",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/details.html') %>",
    }).state('showWorkers', {
      url: "/worker/show",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/show.html') %>",
    }).state('searchWorker', {
      url: "/worker/search",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/search.html') %>",
    }).state('editWorker', {
      url: "/worker/:id/edit",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/edit.html') %>",
    }).state('addPerks', {
      url: "/worker/:id/add-perks",
      controller: "WorkersController",
      controllerAs: "workers",
      templateUrl: "<%= asset_path('app/templates/worker/addPerks.html') %>",
    }).state('seeStatistics', {
      url: "/worker/:id/see-statistics",
      templateUrl: "<%= asset_path('app/templates/worker/statistcsForWorker.html') %>",
      controller: "WorkersController",
      controllerAs: "workers"
    }).state('createPerk', {
      url: "/perks/create",
      controller: "PerkController",
      controllerAs: "perks",
      templateUrl: "<%= asset_path('app/templates/perks/create.html') %>",
    }).state('searchPerk', {
      url: "/perks/search",
      controller: "PerkController",
      controllerAs: "perks",
      templateUrl: "<%= asset_path('app/templates/perks/search.html') %>",
    }).state('showPerks', {
      url: "/perks/show",
      controller: "PerkController",
      controllerAs: "perks",
      templateUrl: "<%= asset_path('app/templates/perks/show.html') %>",
    }).state('createPosition', {
      url: "/position/create",
      templateUrl: "<%= asset_path('app/templates/position/create.html') %>",
      controller: "PositionsController",
      controllerAs: "positions",
    }).state('editPosition', {
      url: "/position/:id/edit",
      controller: "PositionsController",
      controllerAs: "positions",
      templateUrl: "<%= asset_path('app/templates/position/edit.html') %>",
    }).state('showPositions', {
      url: "/position/show",
      templateUrl: "<%= asset_path('app/templates/position/show.html') %>",
      controller: "PositionsController",
      controllerAs: "positions",
    }).state('searchPosition', {
      url: "/position/search",
      templateUrl: "<%= asset_path('app/templates/position/search.html') %>",
      controller: "PositionsController",
      controllerAs: "positions",
    }).state('createQualification', {
      url: "/qualifications/create",
      controller: 'QualificationsController',
      controllerAs: 'qualifications',
      templateUrl: "<%= asset_path('app/templates/qualifications/create.html') %>",
    }).state('editQualification', {
      url: "/qualifications/:id/edit",
      controller: 'QualificationsController',
      controllerAs: 'qualifications',
      templateUrl: "<%= asset_path('app/templates/qualifications/edit.html') %>",
    }).state('showQualifications', {
      url: "/qualifications/show",
      controller: 'QualificationsController',
      controllerAs: 'qualifications',
      templateUrl: "<%= asset_path('app/templates/qualifications/show.html') %>",
    }).state('searchQualification', {
      url: "/qualifications/search",
      templateUrl: "<%= asset_path('app/templates/qualifications/search.html') %>",
      controller: 'QualificationsController',
      controllerAs: 'qualifications',
    }).state('importData', {
      url: "/data/import",
      templateUrl: "<%= asset_path('app/templates/data/import.html') %>",
    }).state('exportData', {
      url: "/user/search",
      templateUrl: "<%= asset_path('app/templates/data/export.html') %>",
    }).state('sendLeaves', {
      url: "/leaves/send",
      templateUrl: "<%= asset_path('app/templates/leaves/send.html') %>",
      controller: 'LeavesController',
      controllerAs: 'leaves',
    }).state('requestedLeaves', {
      url: "/leaves/requests",
      templateUrl: "<%= asset_path('app/templates/leaves/requests.html') %>",
      controller: 'LeavesController',
      controllerAs: 'leaves',
    }).state('leaves', {
      url: "/leaves/leaves",
      templateUrl: "<%= asset_path('app/templates/leaves/leaves.html') %>",
      controller: 'LeavesController',
      controllerAs: 'leaves',
    }).state('leaveDetails', {
      url: "/leaves/:id/leave-details",
      templateUrl: "<%= asset_path('app/templates/leaves/details.html') %>",
      controller: 'LeavesController',
      controllerAs: 'leaves',
    }).state('cvRecrutation', {
      url: "/worker/:id/create-worker-from-appliance",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
      templateUrl: "<%= asset_path('app/templates/recrutation/cv.html') %>",
    }).state('createWorkerFromAppliance', {
      url: "/recrutation/:id/create-from-appliance",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
      templateUrl: "<%= asset_path('app/templates/worker/createFromAppliance.html') %>",
    }).state('uploadCV', {
      url: "/recrutation/:id/uploadCV",
      templateUrl: "<%= asset_path('app/templates/recrutation/uploadCV.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments"
    }).state('internshipsRecrutation', {
      url: "/recrutation/internships",
      templateUrl: "<%= asset_path('app/templates/recrutation/internships.html') %>",
      controller: 'RecruitmentController',
      controllerAs: 'recruitments',
    }).state('jobsRecrutation', {
      url: "/recrutation/jobs",
      templateUrl: "<%= asset_path('app/templates/recrutation/jobs.html') %>",
      controller: 'RecruitmentController',
      controllerAs: 'recruitments',
    }).state('manageRecrutation', {
      url: "/recrutation/manage",
      templateUrl: "<%= asset_path('app/templates/recrutation/manage.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('cvDetails', {
      url: "/recrutation/:id/cv-details",
      controller: 'RecruitmentController',
      controllerAs: 'recruitments',
      templateUrl: "<%= asset_path('app/templates/recrutation/cvDetails.html') %>",
    }).state('ownStatistics', {
      url: "/statistics/own",
      templateUrl: "<%= asset_path('app/templates/statistics/own.html') %>",
      controller: "StatisticController",
      controllerAs: "statistics",
    }).state('statistics', {
      url: "/statistics/statistics",
      templateUrl: "<%= asset_path('app/templates/statistics/statistics.html') %>",
      controller: "StatisticController",
      controllerAs: "statistics",
    }).state('hoursOfWork', {
      url: "/workingTime/your-hours-of-work",
      controller: 'WorkingTimesController',
      controllerAs: 'workingTime',
      templateUrl: "<%= asset_path('app/templates/workingTime/hoursOfWork.html') %>",
    }).state('wizardPositionCreatePosition', {
      url: "/wizards/positionWizard/create-position",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/createPosition.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardOptions', {
      url: "/wizards/positionWizard/options",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/options.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardShowWorkers', {
      url: "/wizards/positionWizard/show-workers",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/showWorkers.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardShowPositions', {
      url: "/wizards/positionWizard/show-positions",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/showPositions.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardAddQualifications', {
      url: "/wizards/positionWizard/:id/add-qualifications",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/addQualifications.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardAddWorkingTime', {
      url: "/wizards/positionWizard/add-working-time",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/addWorkingTime.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardCreateQualification', {
      url: "/wizards/positionWizard/create-qualification",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/createQualification.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardAddPosition', {
      url: "/wizards/positionWizard/:id/add-position",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/addPosition.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('wizardPositionInfo', {
      url: "/wizards/position-wizard/info",
      templateUrl: "<%= asset_path('app/templates/wizards/wizardPosition/infoPosition.html') %>",
      controller: "WizardPositionController",
      controllerAs: "wizardPosition",
    }).state('ApplianceInfoWizzard', {
      url: "/wizards/appliance-wizard/info",
      templateUrl: "<%= asset_path('app/templates/wizards/workerFromAppliance/infoAppliance.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('NotAtWorkInfoWizard', {
      url: "/wizards/not-at-work-wizard/info",
      templateUrl: "<%= asset_path('app/templates/wizards/notAtWork/notAtWorkInfo.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('wizardNotAtWorkShowWorkers', {
      url: "/wizards/not-at-work-wizard/show-workers",
      templateUrl: "<%= asset_path('app/templates/wizards/notAtWork/showWorkers.html') %>",
      controller: "WorkersController",
      controllerAs: "workers",
    }).state('scheduleWizard', {
      url: "/wizards/not-at-work-wizard/:id/schedule",
      templateUrl: "<%= asset_path('app/templates/wizards/notAtWork/schedule.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTimes",
    }).state('leavesWizard', {
      url: "/wizards/not-at-work-wizard/:id/leaves",
      templateUrl: "<%= asset_path('app/templates/wizards/notAtWork/leaves.html') %>",
      controller: "LeavesController",
      controllerAs: "leaves",
    }).state('createWorkerFromApplianceWizzard', {
      url: "/wizards/appliance-wizard/show-recruitments",
      templateUrl: "<%= asset_path('app/templates/wizards/workerFromAppliance/showRecruitments.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('showCVApplianceWizard', {
      url: "/wizards/appliance-wizard/:id/show-cv",
      templateUrl: "<%= asset_path('app/templates/wizards/workerFromAppliance/cvWizard.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('showCVDetailsApplianceWizard', {
      url: "/wizards/appliance-wizard/:id/show-cv-details",
      templateUrl: "<%= asset_path('app/templates/wizards/workerFromAppliance/cvDetailsWizard.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('workerFromApplianceWizard', {
      url: "/wizards/appliance-wizard/:id/create-worker-from-appliance",
      templateUrl: "<%= asset_path('app/templates/wizards/workerFromAppliance/workerFromAppliance.html') %>",
      controller: "RecruitmentController",
      controllerAs: "recruitments",
    }).state('infoWorkerWizard', {
      url: '/wizards/worker/info',
      templateUrl: '<%= asset_path('app/templates/wizards/workerWizard/infoWorker.html') %>',
      controller: 'WorkersController',
      controllerAs: 'workers',
    }).state('createWorkerWizard', {
      url: '/wizards/worker/create-worker',
      templateUrl: '<%= asset_path('app/templates/wizards/workerWizard/createWorker.html') %>',
      controller: 'WorkersController',
      controllerAs: 'workers',
    }).state('createHoW', {
      url: "/workingTime/create",
      templateUrl: "<%= asset_path('app/templates/workingTime/create.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTime",
    }).state('showHoW', {
      url: "/workingTime/show",
      templateUrl: "<%= asset_path('app/templates/workingTime/show.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTime",
    }).state('editHoW', {
      url: "/workingTime/:id/edit",
      templateUrl: "<%= asset_path('app/templates/workingTime/edit.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTime",
    }).state('searchWorkingTime', {
      url: "/workingTime/search",
      templateUrl: "<%= asset_path('app/templates/workingTime/search.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTime",
    }).state('workersOnPosition', {
      url: "/workingTime/:id/workers-on-position",
      templateUrl: "<%= asset_path('app/templates/workingTime/workersOnPosition.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTime",
    }).state('seeSchedule', {
      url: "/worker/:id/worker-schedule",
      templateUrl: "<%= asset_path('app/templates/worker/scheduler.html') %>",
      controller: "WorkingTimesController",
      controllerAs: "workingTimes",
    }).state('remindPassword', {
      url: "/remind",
      templateUrl: "<%= asset_path('app/templates/remind.html') %>",
      controller: 'SessionsController',
      controllerAs: 'sessions'
    });
  }
]);

app.run([
  '$rootScope', '$location', 'Auth', 'ngNotify', '$interval', 'SessionService', function ($rootScope, $location, Auth, ngNotify, $interval, SessionService) {
    $rootScope.meta = {};
    $rootScope.paginatorCount = 10;
    ngNotify.set("You've restarted this app", 'warning');

    // najpierw czy serwer żyje
    var intervalIsAlive = null;
    var sessionIsAlive = function () {
      SessionService.isServerAlive(function (status) {
        if (!status) {
          ngNotify.set('Server is dead', 'error');
          clearInterval(intervalIsAlive);
        }
      });
    };

    intervalIsAlive = setInterval(sessionIsAlive, 1000);

    window.intervalIsLoggedIn = null;
    window.sessionIsLoggedIn = function () {
      SessionService.isLoggedIn(function (status) {
        if (!status) {
          $rootScope.sessionRoot = null;
          $rootScope.isAuthenticated = false;
          delete $rootScope.ifHR;
          delete $rootScope.ifBoss;
          delete $rootScope.ifAdmin;
          delete $rootScope.ifWorker;
          delete $rootScope.currentUser;
          ngNotify.set('Session expired', 'error');
          $location.path('/');
          clearInterval(window.intervalIsLoggedIn);
        }
      });
    };



    Auth.login($rootScope.sessionRoot).then(function (user) {
      $rootScope.isAuthenticated = Auth.isAuthenticated();
      $rootScope.ifHR = Auth._currentUser.hr;
      $rootScope.ifBoss = Auth._currentUser.boss;
      $rootScope.ifAdmin = Auth._currentUser.admin;
      $rootScope.ifWorker = Auth._currentUser.worker;
      $rootScope.ifArchived = Auth._currentUser.archive_worker;
      $rootScope.currentUser = Auth._currentUser;
//      window.intervalIsLoggedIn = setInterval(window.sessionIsLoggedIn, 61000);
      window.intervalIsLoggedIn = setInterval(window.sessionIsLoggedIn, 901000);
    }, function (error) {
      $rootScope.isAuthenticated = Auth.isAuthenticated();
    });

    $rootScope.$on('$stateChangeSuccess', function () {
      Auth.login($rootScope.sessionRoot).then(function (user) {
        clearInterval(window.intervalIsLoggedIn);
//        window.intervalIsLoggedIn = setInterval(window.sessionIsLoggedIn, 61000);
        window.intervalIsLoggedIn = setInterval(window.sessionIsLoggedIn, 901000);
      }, function (error) {
        clearInterval(window.intervalIsLoggedIn);
        $rootScope.isAuthenticated = Auth.isAuthenticated();
      });
    });
  }
]);

this.appDirectives = angular.module('appDirectives', []);
this.appModels = angular.module('appModels', ['ngResource']);
this.appServices = angular.module('appServices', ['appModels']);
this.appControllers = angular.module('appControllers', ['appDirectives', 'appModels', 'appServices', 'Devise', 'ngNotify', 'angularFileUpload']);
