<!DOCTYPE html>
<html ng-app="app">
<head>
  <base href="/">  
  <meta charset="utf-8">
  <title ng-bind="( meta.title || 'HumanoResourco')"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container" >
  		<div class="logo">

  		</div>
  		<!--<div class="">
			<div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        Recrutation <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="#">Internships</a></li>
		        <li><a href="#">Jobs</a></li>
		        <li><a href="#">Show CV's</a></li>
		        <li><a href="#">Manage</a></li>
		      </ul>
		    </div>
			<div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        Workers <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="#">Add worker</a></li>
		        <li><a href="#">Show all</a></li>
		        <li><a href="#">Search</a></li>
		      </ul>
		    </div>
		    <div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        Positions <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="#">Add position</a></li>
		        <li><a href="#">Show all</a></li>
		        <li><a href="#">Search</a></li>
		      </ul>
		    </div>
		    <div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        Leaves <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="#">Add request</a></li>
		        <li><a href="#">Your leaves</a></li>
		        <li><a href="#">Show requests</a></li>
		      </ul>
		    </div>
		    <div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        Workers <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="#">Add worker</a></li>
		        <li><a href="#">Show all</a></li>
		        <li><a href="#">Search</a></li>
		      </ul>
		    </div>
			<div class="btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        Contact 
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      </ul>
		    </div>    		    		    
  		</div> -->

  		<div class="small_container" ui-view>
  			<div class="menu" ng-controller="mainController" >
            <accordion close-others="oneAtATime">
                <accordion-group heading="{{group.title}}" ng-repeat="group in groups" >
                  {{group.content}}
                </accordion-group>   
            </accordion>
  			</div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <li>asd</li>
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">More options</a>
    <ul class="dropdown-menu">
      
    </ul>
  </li>
</ul>
	  		<div class="content" >

	  		</div>
	  	</div>
  		<div class="footer">

  				<p>Page made by:</p>
  				<p><a class="footer_href" href="mailto:damian.nguyen93@gmail.com">Damian Nguyen</a> & <a class="footer_href" href="mailto:dennis.tusk@gmail.com">Dennis Tusk</a></p>

  		</div>
  	</div>
  </div>
</body>
</html>
