<div class="container fromTop" ng-init="workers.initAddPerks()">
    <h1 class="container">Add perks for {{workerToAddPerks.first_name}} {{workerToAddPerks.last_name}}</h1>
    <form name="addPerksForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Reason</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" name="reason" ng-model="newPerks.reason" ng-required="true" />
                <p ng-show="addPerksForm.reason.$error.required" class="help-block"><b>Reason is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : addPerksForm.perks.$invalid && !addPerksForm.perks.$pristine}">
            <label class="control-label col-sm-2">Ammount</label>
            <div class="col-sm-4">
                <input  type="number" class="form-control" name="perks" ng-model="newPerks.perks" ng-min="0" ng-required="true" />
                <p ng-show="addPerksForm.perks.$error.required" class="help-block"><b>Perks are required
                <p ng-show="addPerksForm.perks.$invalid && !addPerksForm.perks.$pristine" class="help-block">Perks can't be negative</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ui-sref="showPerks" class="btn btn-default btnAlign" ng-disabled="addPerksForm.$invalid" ng-click="workers.addPerks(addPerksForm.$valid)">Submit</button>
            </div>
    </form>
</div>
