<div class="container fromTop" ng-init="workers.archivedWorkerDetails()">
    <h1 class="container">{{archivedWorker.first_name}} {{archivedWorker.last_name}}</h1>
    <h3 class="container">Personal details</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Email</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="min-width: 80px;">HR</th>
            <th style="min-width: 80px;">Hired</th>
            <th style="min-width:80px" >Fired</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ archivedWorker.first_name}}</td>
            <td>{{ archivedWorker.last_name}} </td>
            <td>{{ archivedWorker.pesel}}</td>
            <td><a href="mailto:{{archivedWorker.email}}">{{ archivedWorker.email}}</a></td>
            <td ng-if="archivedWorker.hr"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="!archivedWorker.hr"><span class="glyphicon glyphicon-remove"></span></td>
            <td>{{ archivedWorker.created_at | date: "yyyy-MM-dd"}}</td>
            <td>{{ archivedWorker.updated_at | date: "yyyy-MM-dd"}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Address</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Street</th>
            <th style="min-width: 80px;">House number/room number</th>
            <th style="min-width: 80px;">Postcode</th>
            <th style="min-width: 80px;">City</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ archivedWorker.street}}</td>
            <td>{{ archivedWorker.house_nr}} </td>
            <td>{{ archivedWorker.post_code}}</td>
            <td>{{ archivedWorker.city}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-if="archivedWorker.qualification_ids.length != 0" class="container">Qualifications</h3>
    <table ng-if="archivedWorker.qualification_ids.length != 0" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Qualifications</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="qualification in archivedWorker.qualifications">
            <td>{{ qualification.name }}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Positions</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Positions</th>
            <th style="min-width: 80px;">Internship</th>
            <th style="min-width: 80px;">Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="position in archivedWorker.positions | orderBy: 'name'">
            <td>{{ position.name }}</td>
            <td ng-if="position.internship != true"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="position.internship == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td>{{ position.salary | currency}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-if="archivedWorker.perk_ids.length != 0" class="container">Perks</h3>
    <table ng-if="archivedWorker.perk_ids.length != 0" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date</th>
            <th style="min-width: 80px;">Reason</th>
            <th style="min-width: 80px;">Ammount</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="perk in archivedWorker.perks | orderBy: 'date'">
            <td>{{ perk.date }}</td>
            <td>{{ perk.reason }}</td>
            <td>{{ perk.perks | currency}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-show="archivedWorker.cv_url != null" class="container">CV</h3>
    <div  class="centerOut">
        <div class="centerOut">
            <button ng-show="archivedWorker.cv_url != null" ng-click="workers.zoomInViewer()" class="btn btn-default">Zoom in</button>
            <button ng-show="archivedWorker.cv_url != null" ng-click="workers.zoomOutViewer()" class="btn btn-default">Zoom out</button>
            <button ng-show="archivedWorker.cv_url != null" ng-click="workers.nextPageViewer()" class="btn btn-default">Next page</button>
            <button ng-show="archivedWorker.cv_url != null" ng-click="workers.previousPageViewer()" class="btn btn-default">Previous page</button>
        </div>
        <pdf-viewer class="centerIn"
                    delegate-handle="my-pdf-container"
                    url="pdfUrl"
                    scale="1"
                    show-toolbar="false"></pdf-viewer>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="showArchive" class="btn btn-default btnAlign fromBottom">Back</button>
        <button ng-click="workers.hire(archivedWorker.id)" class="btn btn-success btnAlign beetwenButtons fromBottom">Hire again</button>
    </div>
</div>
