<div class="container fromTop" ng-init="workers.showArchives()">
    <h1 class="container">Search for a archived worker</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="min-width: 80px">Hired</th>
            <th style="min-width: 80px;">Fired</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>

        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="archived in listOfArchived | filter: filterArchivedWorker | orderBy: 'created_at' | filter: searchParams | itemsPerPage: paginatorCount">
            <td>{{ archived.first_name}}</td>
            <td>{{ archived.last_name}}</td>
            <td>{{ archived.pesel}}</td>
            <td>{{ archived.created_at | date: "yyyy-MM-dd"}}</td>
            <td>{{ archived.updated_at | date: "yyyy-MM-dd"}}</td>
            <td><a ng-click="workers.hire(archived.id)" class="btn btn-success">Hire again</a></td>
            <td><a ui-sref="archiveDetails({id: archived.id })" class="btn btn-default">Details</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
</div>
