<div class="container fromTop" ng-init="recruitments.accept()">
    <h1 class="container">Create new worker</h1>
    <div class="sideleft">
        <form name="newWorkerForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group"  ng-class="{ 'has-error' : newWorkerForm.name.$invalid && !newWorkerForm.name.$pristine }">
                <label class="control-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control" name="name" ng-model="newWorker.first_name" ng-pattern="/^(\D)+$/" ng-required="true" />
                    <p ng-show="newWorkerForm.name.$invalid && !newWorkerForm.name.$pristine" class="help-block">Name can't contain numbers</p>
                    <p ng-show="newWorkerForm.name.$error.required" class="help-block"><b>Name is required</b></p>
                </div>
            </div>
            <div class="form-group"  ng-class="{ 'has-error' : newWorkerForm.surname.$invalid && !newWorkerForm.surname.$pristine }">
                <label class="control-label col-sm-2">Surname</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control" name="surname" ng-model="newWorker.last_name" ng-pattern="/^(\D)+$/" ng-required="true" />
                    <p ng-show="newWorkerForm.surname.$invalid && !newWorkerForm.surname.$pristine" class="help-block">Surname can't contain numbers</p>
                    <p ng-show="newWorkerForm.surname.$error.required" class="help-block"><b>Surname is required</b></p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : newWorkerForm.email.$invalid && !newWorkerForm.email.$pristine }">
                <label class="control-label col-sm-2" >Email</label>
                <div class="col-sm-6">
                    <input  type="email" class="form-control" name="email" ng-model="newWorker.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true" />
                    <p ng-show="newWorkerForm.email.$invalid && !newWorkerForm.email.$pristine" class="help-block">It's not a valid email address</p>
                    <p ng-show="newWorkerForm.email.$error.required" class="help-block"><b>Email is required</b></p>

                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : newWorkerForm.pesel.$invalid && !newWorkerForm.pesel.$pristine}">
                <label class="control-label col-sm-2" >PESEL</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control" name="pesel" ng-minLength="11" ng-maxLength="11" ng-model="newWorker.pesel" ng-pattern="/^\d+$/" ng-required="true" />
                    <p ng-show="newWorkerForm.pesel.$error.minlength || newWorkerForm.pesel.$error.maxlength" class="help-block">PESEL has to have 11 digits</p>
                    <p ng-show="newWorkerForm.pesel.$error.required" class="help-block"><b>Pesel is required</b></p>

                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : newWorkerForm.street.$invalid && !newWorkerForm.street.$pristine }">
                <label class="control-label col-sm-2" >Street</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control"  name="street" ng-model="newWorker.street"  ng-required="true" />
                    <p ng-show="newWorkerForm.street.$error.required" class="help-block"><b>Street is required</b></p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : newWorkerForm.house_nr.$invalid && !newWorkerForm.house_nr.$pristine }">
                <label class="control-label col-sm-2" >House number</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control" name="house_nr" ng-model="newWorker.house_nr" ng-required="true" />
                    <p ng-show="newWorkerForm.house_nr.$error.required" class="help-block"><b>House number is required</b></p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : newWorkerForm.city.$invalid && !newWorkerForm.city.$pristine }">
                <label class="control-label col-sm-2" >City</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control" name="city" ng-model="newWorker.city" ng-required="true" />
                    <p ng-show="newWorkerForm.city.$error.required" class="help-block"><b>City is required</b></p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : newWorkerForm.post_code.$invalid && !newWorkerForm.post_code.$pristine }">
                <label class="control-label col-sm-2" >Postal code</label>
                <div class="col-sm-6">
                    <input  type="text" class="form-control" ng-pattern="/^[0-9]{2}-[0-9]{3}$/" name="post_code" ng-model="newWorker.post_code" ng-required="true" />
                    <p ng-show="newWorkerForm.post_code.$error.required" class="help-block"><b>Post code is required</b></p>
                    <p ng-show="newWorkerForm.post_code.$invalid && !newWorkerForm.post_code.$pristine" class="help-block">Post code has to be xx-xxx</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Positions</label>
                <div class="col-sm-6">
                    <ui-select multiple name="position_ids" ng-model="newWorker.position_ids"  ui-select-required="true">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="position.id as position in allPositions | filter: $select.search">
                            {{position.name}}
                        </ui-select-choices>
                    </ui-select>
                    <p ng-show="newWorkerForm.position_ids.$invalid" class="help-block"><b>Position is required</b></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Qualifications</label>
                <div class="col-sm-6">
                    <ui-select multiple ng-model="newWorker.qualification_ids">
                        <ui-select-match>{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="qualification.id as qualification in allQualifications | filter: $select.search">
                            {{qualification.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" data-ng-repeat="qualification in newWorker.propositions_of_qualifications">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="qualification.name" disabled />
                </div>
                <button class="btn btn-default" ng-click="recruitments.createQualification(qualification)">Create</button>
                <button class="btn btn-danger" ng-click="remove(qualification)">Remove</button>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="hrLabel">HR</label>
                <div class="col-sm-6">
                    <input  type="checkbox" id="hrLabel" name="hr" ng-model="newWorker.hr" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-6">
                    <button ui-sref="showWorkers" class="btn btn-default btnAlign fromBottom" ng-disabled="newWorkerForm.$invalid" ng-click="recruitments.finishAccepting(newWorkerForm.$valid)">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="sideright">
        <div class="form-group centerOut">
            <label class="control-label">CV preview</label>
            <div class="centerIn">
                <button ng-click="recruitments.zoomInViewer()" class="btn btn-default">Zoom in</button>
                <button ng-click="recruitments.zoomOutViewer()" class="btn btn-default">Zoom out</button>
                <button ng-click="recruitments.nextPageViewer()" class="btn btn-default">Next page</button>
                <button ng-click="recruitments.previousPageViewer()" class="btn btn-default">Previous page</button>
                <pdf-viewer class="centerIn"
                            delegate-handle="my-pdf-container"
                            url="pdfUrl"
                            scale="1"
                            show-toolbar="false"></pdf-viewer>
            </div>
        </div>
    </div>
</div>
