<div class="container fromTop" ng-init="workers.workerToShow()">
    <h1 class="container">{{workerToShow.first_name}} {{workerToShow.last_name}}</h1>
    <h3 class="container">Personal details</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Email</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="min-width: 80px;">HR</th>
            <th style="min-width: 80px;">Hired</th>
            <th style="min-width: 80px;">Updated</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ workerToShow.first_name}}</td>
            <td>{{ workerToShow.last_name}} </td>
            <td>{{ workerToShow.pesel}}</td>
            <td><a href="mailto:{{workerToShow.email}}">{{ workerToShow.email}}</a></td>
            <td ng-if="workerToShow.hr"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="!workerToShow.hr"><span class="glyphicon glyphicon-remove"></span></td>
            <td>{{ workerToShow.created_at | date: "yyyy-MM-dd"}}</td>
            <td>{{ workerToShow.updated_at | date: "yyyy-MM-dd"}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Address</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Street</th>
            <th style="min-width: 80px;">House number/room number</th>
            <th style="min-width: 80px;">Postcode</th>
            <th style="min-width: 80px;">City</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ workerToShow.street}}</td>
            <td>{{ workerToShow.house_nr}} </td>
            <td>{{ workerToShow.post_code}}</td>
            <td>{{ workerToShow.city}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-if="workerToShow.qualification_ids.length != 0" class="container">Qualifications</h3>
    <table ng-if="workerToShow.qualification_ids.length != 0" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Qualifications</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="qualification in workerToShow.qualifications">
            <td>{{ qualification.name }}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Positions</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Positions</th>
            <th style="min-width: 80px;">Internship</th>
            <th style="min-width: 80px;">Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="position in workerToShow.positions | orderBy: 'name'">
            <td>{{ position.name }}</td>
            <td ng-if="position.internship != true"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="position.internship == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td>{{ position.salary | currency}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-if="workerToShow.perk_ids.length != 0" class="container">Perks</h3>
    <table ng-if="workerToShow.perk_ids.length != 0" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date</th>
            <th style="min-width: 80px;">Reason</th>
            <th style="min-width: 80px;">Ammount</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="perk in workerToShow.perks | orderBy: 'date'">
            <td>{{ perk.date }}</td>
            <td>{{ perk.reason }}</td>
            <td>{{ perk.perks | currency}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-show="workerToShow.cv_url != null" class="container">CV</h3>
    <div  class="centerOut">
        <div class="centerOut">
            <button ng-show="workerToShow.cv_url != null" ng-click="workers.zoomInViewer()" class="btn btn-default">Zoom in</button>
            <button ng-show="workerToShow.cv_url != null" ng-click="workers.zoomOutViewer()" class="btn btn-default">Zoom out</button>
            <button ng-show="workerToShow.cv_url != null" ng-click="workers.nextPageViewer()" class="btn btn-default">Next page</button>
            <button ng-show="workerToShow.cv_url != null" ng-click="workers.previousPageViewer()" class="btn btn-default">Previous page</button>
        </div>
        <pdf-viewer class="centerIn"
                delegate-handle="my-pdf-container"
                url="pdfUrl"
                scale="1"
                show-toolbar="false"></pdf-viewer>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="showWorkers" class="btn btn-default btnAlign fromBottom">Back</button>
        <button ui-sref="editWorker({id: workerToShow.id})" class="btn btn-warning btnAlign beetwenButtons fromBottom">Edit</button>
    </div>
</div>
