btn-small<div class="container fromTop" ng-init="workers.workerToEdit()">
    <h1 class="container">Editing worker</h1>
    <form name="workerForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group"  ng-class="{ 'has-error' : workerForm.name.$invalid && !workerForm.name.$pristine }">
            <label class="control-label col-sm-2" >Name</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control"  name="name" ng-model="workerToEdit.first_name" ng-pattern="/^(\D)+$/" ng-required="true" />
                <p ng-show="workerForm.name.$invalid && !workerForm.name.$pristine" class="help-block">Name can't contain numbers</p>
                <p ng-show="workerForm.name.$error.required" class="help-block"><b>Name is required</b></p>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : workerForm.surname.$invalid && !workerForm.surname.$pristine }">
            <label class="control-label col-sm-2" >Surname</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control"  name="surname" ng-model="workerToEdit.last_name" ng-pattern="/^(\D)+$/" ng-required="true" />
                <p ng-show="workerForm.surname.$invalid && !workerForm.surname.$pristine" class="help-block">Surname can't contain numbers</p>
                <p ng-show="workerForm.surname.$error.required" class="help-block"><b>Surname is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : workerForm.email.$invalid && !workerForm.email.$pristine }">
            <label class="control-label col-sm-2" >Email</label>
            <div class="col-sm-4">
                <input  type="email" class="form-control" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="workerToEdit.email" ng-required="true" />
                <p ng-show="workerForm.email.$invalid && !workerForm.email.$pristine" class="help-block">It's not a valid email address</p>
                <p ng-show="workerForm.email.$error.required" class="help-block"><b>Email is required</b></p>

            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : workerForm.pesel.$invalid && !workerForm.pesel.$pristine }">
            <label class="control-label col-sm-2" >PESEL</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" name="pesel" ng-minLength="11" ng-maxLength="11" ng-pattern="/^\d+$/" ng-model="workerToEdit.pesel" ng-required="true" />
                <p ng-show="workerForm.pesel.$error.minlength || workerForm.pesel.$error.maxlength" class="help-block">PESEL has to have 11 digits</p>
                <p ng-show="workerForm.pesel.$error.required" class="help-block"><b>Pesel is required</b></p>

            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : workerForm.street.$invalid && !workerForm.street.$pristine }">
            <label class="control-label col-sm-2" >Street</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" name="street" ng-model="workerToEdit.street"  ng-required="true" />
                <p ng-show="workerForm.street.$error.required" class="help-block"><b>Street is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : workerForm.house_nr.$invalid && !workerForm.house_nr.$pristine  }">
            <label class="control-label col-sm-2" >House number</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" name="house_nr" ng-model="workerToEdit.house_nr" ng-required="true" />
                <p ng-show="workerForm.house_nr.$error.required" class="help-block"><b>House number is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : workerForm.city.$invalid && !workerForm.city.$pristine  }">
            <label class="control-label col-sm-2" >City</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" name="city" ng-model="workerToEdit.city" ng-required="true" />
                <p ng-show="workerForm.city.$error.required" class="help-block"><b>City is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : workerForm.post_code.$invalid && !workerForm.post_code.$pristine }">
            <label class="control-label col-sm-2" >Postal code</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" ng-pattern="/^[0-9]{2}-[0-9]{3}$/" name="post_code" ng-model="workerToEdit.post_code" ng-required="true" />
                <p ng-show="workerForm.post_code.$error.required" class="help-block"><b>Post code is required</b></p>
                <p ng-show="workerForm.post_code.$invalid && !workerForm.post_code.$pristine" class="help-block">Post code has to be xx-xxx</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Positions</label>
            <div class="col-sm-4">
                <ui-select multiple name="position_ids" ng-model="workerToEdit.position_ids"   ui-select-required="true">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="position.id as position in allPositions | filter: $select.search">
                        {{position.name}}
                    </ui-select-choices>
                </ui-select>
                <p ng-show="workerForm.position_ids.$invalid" class="help-block"><b>Position is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Qualifications</label>
            <div class="col-sm-4">
                <ui-select multiple ng-model="workerToEdit.qualification_ids" >
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="qualification.id as qualification in allQualifications | filter: $select.search">
                        {{qualification.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="hrLabel">HR</label>
            <div class="col-sm-4">
                <input  type="checkbox" id="hrLabel" name="hr" ng-model="workerToEdit.hr" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button class="btn btn-default btnAlign" ng-disabled="workerForm.$invalid" ng-click="workers.editWorker(workerForm.$valid)">Submit</button>
            </div>
        </div>
    </form>
</div>
