<div class="container fromTop" ng-init="workers.showWorkers()">
    <h1 class="container">Search for a worker</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="min-width: 80px;">Position</th>
            <th style="width:20px;">Matches requirments</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="worker in listOfWorkers |filter:filterNotArchivedWorker | orderBy: 'pesel' | filter: searchParams | itemsPerPage: paginatorCount">
            <td>{{ worker.first_name}}</td>
            <td>{{ worker.last_name}}</td>
            <td>{{ worker.pesel}}</td>
            <td><span ng-repeat="position in worker.positionNames">{{position}}</span></td>
            <td ng-if="required_qualifications(worker) == false" class="red"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="required_qualifications(worker) == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td><a ui-sref="addPerks({id: worker.id})" class="btn btn-default">Add perks</a></td>
            <td><a ui-sref="seeSchedule({id: worker.id})" class="btn btn-default">See schedule</a></td>
            <td><a ui-sref="seeStatistics({id: worker.id})" class="btn btn-default">See statistics</a></td>
            <td><a ui-sref="showDetailsOfWorker({id: worker.id })" class="btn btn-default">Details</a></td>
            <td><a ui-sref="editWorker({id: worker.id})" class="btn btn-warning">Edit</a></td>
            <td><a ng-click="workers.archiveWorker(worker)" class="btn btn-danger">Archive</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="createWorker" class="btn btn-default btnAlign">Add</button>
    </div>
</div>
