<div class="container fromTop" ng-init="workers.statistics()">
    <h1 class="container">Statistics of {{worker.first_name}} {{worker.last_name}}</h1>
    <h3 class="container">Perks</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date</th>
            <th style="min-width: 80px;">Reason</th>
            <th style="min-width: 80px;">Ammount</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="perk in worker.perks | orderBy: 'date' | itemsPerPage: paginatorCount" pagination-id="perks">
            <td>{{ perk.date | date: "yyyy-MM-dd"}}</td>
            <td>{{ perk.reason}}</td>
            <td>{{ perk.perks | currency}}</td>
        </tr>
        </tbody>
    </table>
    <b>Sum: {{getSum() | currency}}</b>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="perks" />
    </div>
    <h3 class="container">He earned in previous month</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Perks</th>
            <th style="min-width: 80px;">Salary</th>
            <th style="min-width: 80px;">Together</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{getSumFromLastMonth() | currency}}</td>
            <td>{{salary()| currency }}</td>
            <td>{{sum | currency}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Days off during last month</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">From</th>
            <th style="min-width: 80px;">To</th>
            <th style="min-width: 80px;">Reason</th>
            <th style="min-width: 80px;">Days ammount</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="leave in worker.leave | orderBy: 'from' | filter: filterDates | filter: filterApproved | itemsPerPage: paginatorCount" pagination-id="off">
            <td>{{leave.from}}</td>
            <td>{{leave.to}}</td>
            <td>{{leave.name}}</td>
            <td>{{days(leave.from, leave.to)}}</td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="off" />
    </div>
</div>
