<div class="container fromTop" ng-init="workingTime.workingTimeToEdit()">
    <h1 class="container">Edit work to position</h1>
    <form name="workingTimeForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Date</label>
            <div class="col-sm-4">
                <pre>Selected date is: <em>{{workingTimeToEdit.date | date:'fullDate' }}</em></pre>
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-required="true" ui-date="{dateFormat: 'dd-mm-yy'}" ui-date-format="dd-mm-yy" name="date" ng-model="workingTimeToEdit.date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                    <p ng-show="workingTimeForm.date.$error.required" class="help-block"><b>Date is required</b></p>
                </div>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : workingTimeForm.from.$invalid && !workingTimeForm.from.$pristine }">
            <label class="control-label col-sm-2" for="fromLabel">From:</label>
            <div class="col-sm-4">
                <input  type="time" class="form-control" id="fromLabel" ng-min="minTime" name="from" ng-model="workingTimeToEdit.from" ng-required="true" />
                <p ng-show="workingTimeForm.from.$invalid && !workingTimeForm.from.$pristine" class="help-block">Just to remind you, our employees arent working before 6 am</p>
                <p ng-show="workingTimeForm.from.$error.required" class="help-block"><b>Time 'from' is required</b></p>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : workingTimeForm.to.$invalid && !workingTimeForm.to.$pristine  }">
            <label class="control-label col-sm-2" for="toLabel">To:</label>
            <div class="col-sm-4">
                <input  type="time" class="form-control" id="toLabel" name="to" ng-min="workingTimeToEdit.from"  ng-model="workingTimeToEdit.to" ng-required="true" />
                <p ng-show="workingTimeForm.to.$invalid && !workingTimeForm.to.$pristine" class="help-block">Time 'to' cant be before time 'from'</p>
                <p ng-show="workingTimeForm.to.$error.required" class="help-block"><b>Time 'to' is required</b></p>
                <p ng-show="below12()" class="help-block">Employees cant work more than 12h per day</p>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Positions:</label>
            <div class="col-sm-4">
                <ui-select multiple class="form-control" name="position_ids" ng-model="workingTimeToEdit.position_ids" ng-disabled="disable" ui-select-required="true" >
                    <ui-select-match> {{$item.name}} </ui-select-match>
                    <ui-select-choices repeat="position.id  as position in allPositions | filter:$select.search"> {{position.name}} </ui-select-choices>
                </ui-select>
                <p ng-show="workingTimeForm.position_ids.$invalid" class="help-block"><b>Position is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ng-click="workingTime.editWorkingTime(workingTimeForm.$valid)" class="btn btn-default btnAlign" ng-disabled="workingTimeForm.$invalid">Submit</button>
            </div>
        </div>
    </form>

</div>
