<div class="container fromTop" ng-init="workingTime.showWorkingTimeForWorker()">
    <h1 class="container">Hi {{currentUser.first_name}}, here are your working hours</h1>
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
</div>
