<div class="container fromTop" ng-init="workingTime.showWorkingTime()">
    <h1 class="container">Search for hours of work</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date</th>
            <th style="min-width: 80px;">From</th>
            <th style='min-width: 80px;'>To</th>
            <th style='min-width: 80px;'>Hours</th>
            <th style="min-width: 80px;">Positions</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="workingTimes in listOfWorkingTimes | filter:searchParams | orderBy: 'date' | filter: filterDates | itemsPerPage: paginatorCount">
            <td>{{ workingTimes.date}}</td>
            <td>{{ workingTimes.from | date: "HH:mm"}}</td>
            <td>{{ workingTimes.to | date: "HH:mm"}}</td>
            <td ng-if="workingTimes.how_much_to_work.hours < 10 && workingTimes.how_much_to_work.minutes < 10">0{{ workingTimes.how_much_to_work.hours }}:0{{workingTimes.how_much_to_work.minutes}}</td>
            <td ng-if="workingTimes.how_much_to_work.hours < 10 && workingTimes.how_much_to_work.minutes >= 10">0{{ workingTimes.how_much_to_work.hours }}:{{workingTimes.how_much_to_work.minutes}}</td>
            <td ng-if="workingTimes.how_much_to_work.hours >= 10 && workingTimes.how_much_to_work.minutes >= 10">{{ workingTimes.how_much_to_work.hours }}:{{workingTimes.how_much_to_work.minutes}}</td>
            <td ng-if="workingTimes.how_much_to_work.hours >= 10 && workingTimes.how_much_to_work.minutes < 10">{{ workingTimes.how_much_to_work.hours }}:0{{workingTimes.how_much_to_work.minutes}}</td>
            <td><span ng-repeat="position in workingTimes.positionNames">{{position}}</span></td>
            <td><a ui-sref="workersOnPosition({id: workingTimes.id})" class="btn btn-default">Workers</a></td>
            <td><a ui-sref="editHoW({id: workingTimes.id})" class="btn btn-warning">Edit</a></td>
            <td><a ng-click="workingTime.deleteWorkingTime(workingTimes)" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="createHoW" class="btn btn-default btnAlign">Add</button>
    </div>
</div>
