<div class="container fromTop" ng-init="workingTime.showWorkers()">
    <h1 class="container">Show all workers</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="worker in allWorkers | orderBy: 'pesel' | filter: onPosition | itemsPerPage: paginatorCount">
            <td>{{ worker.first_name}}</td>
            <td>{{ worker.last_name}}</td>
            <td>{{ worker.pesel}}</td>
            <td><a ui-sref="seeSchedule({id: worker.id})" class="btn btn-default">See schedule</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
</div>
