<div class="container fromTop" ng-init="leaves.showDetails()">
    <h1 class="container">Details of leave from {{leave.from | date: "yyyy-MM-dd"}} to {{leave.to | date: "yyyy-MM-dd"}} for {{leave.worker.first_name}} {{leave.worker.last_name}}</h1>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date from</th>
            <th style="min-width: 80px;">Date to</th>
            <th style="min-width: 80px;">Title</th>
            <th style="min-width: 80px;">Approved</th>
            <th style="min-width: 80px;">Worker</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ leave.from | date: "yyyy-MM-dd"}}</td>
            <td>{{ leave.to | date: "yyyy-MM-dd" }}</td>
            <td>{{ leave.name }}</td>
            <td ng-if="leave.approved == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="leave.approved == false"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="leave.approved == null"><span class="glyphicon glyphicon-time"></span></td>
            <td>{{ leave.worker.first_name}} {{leave.worker.last_name}}</td>
            <td><a ng-click="leaves.approveRequest(leave.id)" ui-sref="requestedLeaves" class="btn btn-success" ng-if="leave.approved == null">Approve</a></td>
            <td><a ng-click="leaves.declineRequest(leave.id)" ui-sref="requestedLeaves" class="btn btn-danger" ng-if="leave.approved == null">Decline</a></td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Text</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Text</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ leave.text }}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container" ng-if="leave.file_url != null">Attachment</h3>

    <div class="centerOut">
        <div class="centerOut">
            <button ng-if="leave.file_url != null" ng-click="leaves.zoomInViewer()" class="btn btn-default">Zoom in</button>
            <button ng-if="leave.file_url != null" ng-click="leaves.zoomOutViewer()" class="btn btn-default">Zoom out</button>
            <button ng-if="leave.file_url != null" ng-click="leaves.nextPageViewer()" class="btn btn-default">Next page</button>
            <button ng-if="leave.file_url != null" ng-click="leaves.previousPageViewer()" class="btn btn-default">Previous page</button>
        </div>
        <pdf-viewer class="centerIn"
                    delegate-handle="my-pdf-container"
                    url="pdfUrl"
                    scale="1"
                    show-toolbar="false"></pdf-viewer>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="requestedLeaves" class="btn btn-default btnAlign fromBottom">Back</button>
    </div>
</div>
