<div class="container fromTop" ng-init="leaves.showOwn()">
    <h1 class="container">Your leaves</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date from</th>
            <th style="min-width: 80px;">Date to</th>
            <th style="min-width: 80px;">Title</th>
            <th style="min-width: 80px;">Approved</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="leave in allLeaves | filter: searchParams | filter: filterCurrentUser | orderBy:'from' | itemsPerPage: paginatorCount">
            <td>{{ leave.from | date: "yyyy-MM-dd"}}</td>
            <td>{{ leave.to | date: "yyyy-MM-dd" }}</td>
            <td>{{ leave.name }}</td>
            <td ng-if="leave.approved == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="leave.approved == false"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="leave.approved == null"><span class="glyphicon glyphicon-time"></span></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
</div>
