<div class="container fromTop" ng-init="leaves.showLeaves()">
    <h1 class="container">Leaves</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <h2 ng-show="pendingRequests" class="container">Reqested leaves</h2>
    <table ng-show="pendingRequests" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date from</th>
            <th style="min-width: 80px;">Date to</th>
            <th style="min-width: 80px;">Title</th>
            <th style="min-width: 80px;">Approved</th>
            <th style="min-width: 80px;">Worker</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="leave in allLeaves | filter: filterNotArchivedWorker | filter: searchParams | filter: showSeen | itemsPerPage: paginatorCount" pagination-id="pending">
            <td>{{ leave.from | date: "yyyy-MM-dd"}}</td>
            <td>{{ leave.to | date: "yyyy-MM-dd" }}</td>
            <td>{{ leave.name }}</td>
            <td ng-if="leave.approved == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="leave.approved == false"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="leave.approved == null"><span class="glyphicon glyphicon-time"></span></td>
            <td>{{ leave.worker_first_name}} {{leave.worker_last_name}}</td>
            <td><a ng-click="leaves.approveRequest(leave.id)" class="btn btn-success" ng-if="leave.approved == null">Approve</a></td>
            <td><a ng-click="leaves.declineRequest(leave.id)" class="btn btn-danger" ng-if="leave.approved == null">Decline</a></td>
            <td><a ui-sref="leaveDetails({id: leave.id})" class="btn btn-default">Details</a></td>
        </tr>
        </tbody>
    </table>
    <div ng-show="pendingRequests" class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="pending"/>
    </div>
    <h2 ng-show="seenRequests" class="container">Solved leaves</h2>
    <table ng-show="seenRequests" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Date from</th>
            <th style="min-width: 80px;">Date to</th>
            <th style="min-width: 80px;">Title</th>
            <th style="min-width: 80px;">Approved</th>
            <th style="min-width: 80px;">Worker</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="leave in allLeaves | filter: searchParams | orderBy:'!approved' | filter: showNotSeen | itemsPerPage: paginatorCount" pagination-id="solved">
            <td>{{ leave.from | date: "yyyy-MM-dd"}}</td>
            <td>{{ leave.to | date: "yyyy-MM-dd" }}</td>
            <td>{{ leave.name }}</td>
            <td ng-if="leave.approved == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td ng-if="leave.approved == false"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="leave.approved == null"><span class="glyphicon glyphicon-time"></span></td>
            <td>{{ leave.worker_first_name}} {{leave.worker_last_name}}</td>
            <td><a ng-click="leaves.approveRequest(leave.id)" class="btn btn-success" ng-if="leave.approved == null">Approve</a></td>
            <td><a ng-click="leaves.declineRequest(leave.id)" class="btn btn-danger" ng-if="leave.approved == null">Decline</a></td>
            <td><a ui-sref="leaveDetails({id: leave.id})" class="btn btn-default">Details</a></td>
        </tr>
        </tbody>
    </table>
    <div ng-show="seenRequests" class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="solved"/>
    </div>
</div>
