<div class="container fromTop" ng-init=leaves.init()>
    <h1 class="container">Send request for leave</h1>

    <form name="newRequestForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Date from</label>

            <div class="col-sm-4">
                <pre>Selected date is: <em>{{newRequest.from | date:'fullDate' }}</em></pre>
                <div style="display:inline-block; min-height:290px;">
                    <uib-datepicker ng-required="true" ui-date="{dateFormat: 'dd-mm-yy'}" ui-date-format="dd-mm-yy"
                                name="from" ng-model="newRequest.from" min-date="minDate" show-weeks="true"
                                class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                    <p ng-show="newRequestForm.from.$error.required" class="help-block"><b>Date from from is required</b></p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Date to</label>

            <div class="col-sm-4">
                <pre>Selected date is: <em>{{newRequest.to | date:'fullDate' }}</em></pre>
                <div style="display:inline-block; min-height:290px;">
                    <uib-datepicker ng-required="true" ui-date="{dateFormat: 'dd-mm-yy'}" ui-date-format="dd-mm-yy"
                                name="to" ng-model="newRequest.to" min-date="minDate" show-weeks="true"
                                class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                    <p ng-show="newRequestForm.to.$error.required" class="help-block"><b>Date to to is required</b></p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Title</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" ng-model="newRequest.name" ng-required="true"/>

                <p ng-show="newRequestForm.name.$error.required" class="help-block"><b>Title is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Text</label>

            <div class="col-sm-4">
                <textarea rows="4" class="form-control high" name="text" ng-model="newRequest.text"
                          ng-required="true"></textarea>

                <p ng-show="newRequestForm.text.$error.required" class="help-block"><b>Text is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Attachment:</label>

            <div class="col-sm-4">
                <input type="file" nv-file-select="" uploader="uploader" ng-model="newRequest.attachment" name="attachment"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>

            <div class="col-sm-4">
                <div class="col-md-9" style="margin-bottom: 40px">
                    <h3>Upload queue</h3>

                    <p class="ng-binding">Queue length: {{ uploader.queue.length }}</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th ng-show="uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                        ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ui-sref="main" class="btn btn-default btnAlign fromBottom" ng-disabled="newRequestForm.$invalid"
                        ng-click="leaves.createLeave(newRequestForm.$valid)">Submit
                </button>
            </div>
        </div>
    </form>
</div>
