<div class="container fromTop" ng-init="newSession = {}">
    <h1 class="container">Login</h1>
    <form name="newSessionForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : newSessionForm.username.$invalid && !newSessionForm.username.$pristine }">
            <label class="control-label col-sm-2" for="">PESEL:</label>
            <div class="col-sm-4" >
                <input  type="text" class="form-control" ng-minLength="11" ng-maxLength="11" name="username" ng-model="sessionForm.pesel"  required />
                <p ng-show="newSessionForm.username.$error.minlength" class="help-block">PESEL has to have 11 digits</p>
                <p ng-show="newSessionForm.username.$error.maxlength" class="help-block">PESEL has to have 11 digits</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : newSessionForm.password.$invalid && !newSessionForm.password.$pristine }">
            <label class="control-label col-sm-2" for="">Password</label>
            <div class="col-sm-4">
                <input  type="password" class="form-control" ng-minLength="8" ng-maxLength="11" name="password" ng-model="sessionForm.password" required>
                <p ng-show="newSessionForm.password.$error.minlength" class="help-block">Password has to have minimum 8 digits</p>
                <p ng-show="newSessionForm.password.$error.maxlength" class="help-block">Password has to have maximum 11 digits</p>
                <a ui-sref="remindPassword" class="pointer">Dont remember password?</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ng-click="sessions.doLogin(newSessionForm.$valid)" class="btn btn-default btnAlign" ng-disabled="newSessionForm.$invalid">Log In</button>
            </div>
        </div>
    </form>
</div>
