<div class="content fromTop" ui-view>
  <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <div class="slide1"></div>
          </div>
          <div class="item">
              <div class="slide2"></div>
          </div>
          <div class="item">
              <div class="slide3"></div>
          </div>
      </div>
      <!-- .carousel-inner -->
      <!--<div class="container carousel-overlay text-center">-->
          <!--<h1>Confucius</h1>-->
          <!--<p class="lead">"Choose a job you love, and you will never have to work a day in your life"</p>-->
          <!--&lt;!&ndash;<a class="btn btn-lg btn-success fp-buttons" href="#">-->
              <!--<span class="fa fa-dollar"></span> Send your CV-->
          <!--</a>&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="btn btn-lg btn-success fp-buttons" ui-sref="login" href="#">&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="fa fa-check"></span> Log In&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--</div>-->
  </div><!-- .carousel -->
  <!--end bg-carousel-->

  <!--The rest of your page content below-->
  <!--
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="fa fa-paw fa-3x circles"></div>
        <h2>xyz</h2>
        <p>xyz</p>
        <p><a class="btn btn-default" href="#" role="button">xyz »</a></p>
      </div>
      <div class="col-md-4">
        <div class="fa fa-heart fa-3x circles"></div>
        <h2>zyx</h2>
        <p>zyx</p>
        <p><a class="btn btn-default" href="#" role="button">zyx »</a></p>
      </div>
      <div class="col-md-4">
        <div class="fa fa-book fa-3x circles"></div>
        <h2>yxz</h2>
        <p>yxz</p>
        <p><a class="btn btn-default" href="#" role="button">yxz »</a></p>
      </div>
    </div>
-->
    <!-- START THE FEATURETTES -->
<!--
    <hr>

    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">Something about company<span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 text-center">
        <img src="http://placehold.it/350/398439/fff&amp;text=Image+Holder" alt="placeholder" class="featurette-image img-responsive">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 col-md-pull-7 text-center">
        <img src="http://placehold.it/350/398439/fff&amp;text=Image+Holder" alt="placeholder" class="featurette-image img-responsive">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 text-center">
        <img src="http://placehold.it/350/398439/fff&amp;text=Image+Holder" alt="placeholder" class="featurette-image img-responsive">
      </div>
    </div>
  -->
    <!-- /END THE FEATURETTES -->
  </div>
</div>