<div class="container fromTop" ng-template>
    <h1 class="container">Remind password</h1>
    <form name="newRemindForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : newRemindForm.username.$invalid && !newRemindForm.username.$pristine }">
            <label class="control-label col-sm-2" for="">PESEL:</label>
            <div class="col-sm-4" >
                <input  type="text" class="form-control" ng-minLength="11" ng-maxLength="11" name="username" ng-model="remindForm.pesel" required />
                <p ng-show="newRemindForm.username.$error.minlength" class="help-block">PESEL has to have 11 digits</p>
                <p ng-show="newRemindForm.username.$error.maxlength" class="help-block">PESEL has to have 11 digits</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ng-click="sessions.doRemind(remindForm.pesel)" class="btn btn-default btnAlign" ng-disabled="newRemindForm.$invalid">Send me an email</button>
            </div>
        </div>
    </form>
</div>
