<div class="container fromTop" ng-init="recruitments.showCV()">
    <h1 class="container">List of CV for position {{recruitment.position.name}}</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Uploaded on</th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="appliance in allApliances | filter: searchParams | filter:currentRecruitment | filter: notApproved | orderBy: 'appliance.created_at' | itemsPerPage: paginatorCount">
            <td>{{ appliance.first_name}}</td>
            <td>{{ appliance.last_name}}</td>
            <td>{{ appliance.created_at | date: "yyyy-MM-dd"}}</td>
            <td><a ui-sref="cvDetails({id: appliance.id})" class="btn btn-default">Details</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="manageRecrutation" class="btn btn-default btnAlign">Back</button>
    </div>
</div>
