<div class="container fromTop" ng-init="recruitments.init()">
    <h1 class="container">Internships</h1>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="internship in allRecruitments | orderBy: 'name'" ng-if="internship.position.internship == true && internship.status == true">
            <td>{{ internship.position.name}}</td>
            <td><a ui-sref="uploadCV({id: internship.id})" class="btn btn-primary">Upload CV</a></td>
        </tr>
        </tbody>
    </table>
</div>
