<div class="container fromTop" ng-init="recruitments.init()">
    <h1 class="container">Jobs</h1>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in allRecruitments | orderBy: 'name'" ng-if="job.position.internship != true && job.status == true">
            <td>{{ job.position.name}}</td>
            <td><a ui-sref="uploadCV({id: job.id})" class="btn btn-primary">Upload CV</a></td>
        </tr>
        </tbody>
    </table>
</div>
