<div class="container fromTop" ng-init="recruitments.cvToUpload()">
    <h1 class="container">Upload your CV for position {{cvToUpload.position.name}}</h1>
    <form name="applianceForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : applianceForm.name.$invalid && !applianceForm.name.$pristine }">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" ng-model="newAppliance.first_name" ng-pattern="/^(\D)+$/" ng-required="true"/>
                <p ng-show="applianceForm.name.$invalid && !applianceForm.name.$pristine" class="help-block">Name can't contain numbers</p>
                <p class="help-block" ng-show="applianceForm.name.$error.required"><b>Name is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : applianceForm.surname.$invalid && !applianceForm.surname.$pristine }">
            <label class="control-label col-sm-2">Surname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="surname" ng-model="newAppliance.last_name" ng-pattern="/^(\D)+$/" ng-required="true"/>
                <p ng-show="applianceForm.surname.$invalid && !applianceForm.surname.$pristine" class="help-block">Surname can't contain numbers</p>
                <p class="help-block" ng-show="applianceForm.surname.$error.required"><b>Surname is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : applianceForm.email.$invalid && !applianceForm.email.$pristine }">
            <label class="control-label col-sm-2">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" ng-model="newAppliance.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true"/>
                <p ng-show="applianceForm.email.$invalid && !applianceForm.email.$pristine" class="help-block">It's not a valid email address</p>
                <p class="help-block" ng-show="applianceForm.email.$error.required"><b>Email is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : applianceForm.pesel.$invalid && !applianceForm.pesel.$pristine }">
            <label class="control-label col-sm-2">Pesel</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="pesel" ng-minLength="11" ng-maxLength="11" ng-pattern="/^\d+$/" ng-model="newAppliance.pesel" ng-required="true"/>
                <p ng-show="applianceForm.pesel.$error.minlength || applianceForm.pesel.$error.maxlength" class="help-block">PESEL has to have 11 digits</p>
                <p class="help-block" ng-show="applianceForm.pesel.$error.required"><b>Pesel is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Street</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="street" ng-model="newAppliance.street" ng-required="true"/>
                <p class="help-block" ng-show="applianceForm.street.$error.required"><b>Street is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">House number</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="houseNr" ng-model="newAppliance.house_nr" ng-required="true"/>
                <p class="help-block" ng-show="applianceForm.houseNr.$error.required"><b>House number is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">City</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="city" ng-model="newAppliance.city" ng-required="true"/>
                <p class="help-block" ng-show="applianceForm.city.$error.required"><b>City is required</b></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : applianceForm.post_code.$invalid && !applianceForm.post_code.$pristine }">
            <label class="control-label col-sm-2">Postcode</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-pattern="/^[0-9]{2}-[0-9]{3}$/" name="post_code" ng-model="newAppliance.post_code" ng-required="true"/>
                <p ng-show="applianceForm.post_code.$invalid && !applianceForm.post_code.$pristine" class="help-block">Post code has to be xx-xxx</p>
                <p class="help-block" ng-show="applianceForm.post_code.$error.required"><b>Postcode is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Qualifications</label>
            <div class="col-sm-4">
                <ui-select multiple ng-model="newAppliance.qualification_ids">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="qualification.id as qualification in allQualifications | filter: $select.search">
                        {{qualification.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group" data-ng-repeat="qualification in newAppliance.propositions_of_qualifications">
            <div class="col-sm-4 col-lg-offset-2">
                <input type="text" class="form-control" placeholder="Enter your proposition" name="qualification.name" ng-model="qualification.name" />
            </div>
            <button class="btn btn-danger" ng-click="remove(qualification)">Remove</button>
        </div>
        <button class="btn btn-default col-lg-offset-5" ng-click="addNew()">Add next</button>
        <div class="form-group">
            <label class="control-label col-sm-2">CV:</label>
            <div class="col-sm-4">
                <input type="file" nv-file-select="" uploader="uploader" ng-model="newAppliance.cv" name="cv"/>
                <p ng-show="applianceForm.cv.$invalid" class="help-block"><b>CV is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-4">
                <div class="col-md-9" style="margin-bottom: 40px">
                    <h3>Upload queue</h3>
                    <p class="ng-binding">Queue length: {{ uploader.queue.length }}</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th ng-show="uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button class="btn btn-default btnAlign" ng-disabled="applianceForm.$invalid || uploaded != true" ng-click="recruitments.upload(applianceForm.$valid)" ui-sref="main">Submit</button>
            </div>
        </div>
    </form>
</div>
