<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Your account had been created</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="61"><img src="http://i.imgur.com/6xLZSmU.jpg" width="61" height="76" border="0" alt=""/></td>
            <td width="144"><img src="http://i.imgur.com/hrHdfTI.jpg" width="144" height="76" border="0" alt=""/></td>
            <td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="46" align="right" valign="middle">
                </td>
              </tr>
              <tr>
                <td height="30"><img src="http://i.imgur.com/efCy2qk.jpg" width="393" height="30" border="0" alt=""/></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="80%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:24px"><strong><em>Hi <%= @user.first_name %> <%= @user.last_name %>,</em></strong></font><br /><br />
              <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px">
                We recived your polite ask for reminding your password, but it is better if we can give you new one and so we do.
                <br/>Your new password: <%= @generated_password %>
                <br>
              </font></td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="right" valign="top"><table width="108" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="http://i.imgur.com/FoJPSUS.jpg" width="108" height="9" style="display:block" border="0" alt=""/></td>
              </tr>
              <tr>
                <td align="center" valign="middle" bgcolor="#6ebe44"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:14px"><em><a href="http://yourlink" target="_blank" style="color:#ffffff; text-decoration: underline">click here to go to app</a></em></font></td>
              </tr>
              <tr>
                <td height="10" align="center" valign="middle" bgcolor="#6ebe44"> </td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="http://i.imgur.com/Mvj3YVE.jpg" width="598" height="7" style="display:block" border="0" alt=""/></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">

        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:8px"><strong>xxx xxx &amp; xxx xxx | Company name Ltd, Adress Line, Company Street, City, State, Zip Code | Tel: xxx xxx xxx | <a href= "http://yourlink" style="color:#010203; text-decoration:none">xxx@xxx.xxx</a></strong></font></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
