<div class="container fromTop" ng-init="statistics.initAll()">
    <h1 class="container">Statistics</h1>
    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="allPerks.length > 0">
            <td><h2 ng-click="perks = !perks" class="pointer">Perks</h2></td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0">
                <div uib-collapse="perks">
                    <h3 class="container">All perks</h3>
                    <table class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Worker</th>
                            <th style="min-width: 80px;">Sum</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="worker in allWorkers | filter: filterPerksAll | orderBy:'last_name' | itemsPerPage: paginatorCount"
                            pagination-id="allPerks">
                            <td>{{ worker.first_name}} {{worker.last_name}}</td>
                            <td>{{ perksSumAll(worker) | currency }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <b>Sum: {{sumAllPerksAll() | currency}}</b>

                    <div class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="allPerks"/>
                    </div>
                    <h3 ng-show="perksLastMonth" class="container">Perks given last month</h3>
                    <table ng-show="perksLastMonth" class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Worker</th>
                            <th style="min-width: 80px;">Sum</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="worker in allWorkers  | filter: filterNotArchived  | filter: filterPerks | orderBy:'last_name'  | itemsPerPage: paginatorCount"
                            pagination-id="perks">
                            <td>{{ worker.first_name}} {{worker.last_name}}</td>
                            <td>{{ perksSum(worker) | currency }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <b ng-show="perksLastMonth">Sum: {{sumAllPerks() | currency}}</b>

                    <div ng-show="perksLastMonth" class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="perks"/>
                    </div>
                    <canvas ng-show="perksLastMonth" id="perksChart" class="chart chart-bar" chart-data="perksData" chart-labels="perksLabels" chart-series="perksSeries"></canvas>
                </div>
            </td>
        </tr>
        <tr>
            <td><h2 ng-click="salaries = !salaries" class="pointer">Salaries and positions</h2></td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0">
                <div uib-collapse="salaries">
                    <h3 class="container">Money spending on salary</h3>
                    <table class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Name</th>
                            <th style="min-width: 80px;">Sum</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>Sum</b></td>
                            <td><b>{{sumAllSalary() | currency}}</b></td>
                        </tr>
                        </tbody>
                    </table>
                    <canvas id="positionSalaryChart" class="chart chart-bar" chart-data="positionSalaryData" chart-labels="positionSalaryLabels" chart-series="positionSalarySeries"></canvas>
                    <h3 class="container">We have {{allWorkers.length}} workers in company, they are working on:</h3>
                    <table class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Position</th>
                            <th style="min-width: 80px;">Ammount of workers</th>
                            <th style="min-width: 80px;">Salary per worker</th>
                            <th style="min-width: 80px;">Salary summed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="position in allPositions | filter: filterEmptyPositions | itemsPerPage: paginatorCount"
                            pagination-id="positions">
                            <td>{{ position.name}}</td>
                            <td>{{ workersOnPosition(position) }}</td>
                            <td>{{ position.salary | currency}}</td>
                            <td>{{ salarySummedForPosition(position) | currency }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="positions"/>
                    </div>
                    <canvas id="positionChart" class="chart chart-pie" chart-data="positionData" chart-labels="positionLabels" chart-legend="true"></canvas>
                </div>
            </td>
        </tr>
        <tr ng-show="(allLeaves.length > 0) && (currentLeaves == true || pastMonthLeaves == true)">
            <td><h2 ng-click="leaves = !leaves" class="pointer">Leaves</h2></td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0">
                <div uib-collapse="leaves">
                    <h3 ng-show="currentLeaves" class="container">Currently on leave</h3>
                    <table ng-show="currentLeaves" class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Worker</th>
                            <th style="min-width: 80px;">From</th>
                            <th style="min-width: 80px;">To</th>
                            <th style="min-width: 80px;">Days ammount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="leave in allLeaves |filter: filterNotArchivedWorker | filter: filterCurrentLeaves | filter:filterLeaveApproved  | orderBy: from | itemsPerPage: paginatorCount"
                            pagination-id="currentLeaves">
                            <td ng-repeat="worker in allWorkers" ng-if="worker.id == leave.worker_id">{{
                                worker.first_name}} {{worker.last_name}}
                            </td>
                            <td>{{ leave.from}}</td>
                            <td>{{ leave.to}}</td>
                            <td>{{ days(leave.from, leave.to) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="currentLeaves" class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="currentLeaves"/>
                    </div>
                    <canvas ng-show="currentLeaves" id="currentlyOnLeaveChart" class="chart chart-pie" chart-data="currentLeavesData" chart-labels="currentLeavesLabels">
                    </canvas>
                    <h3 ng-show="pastMonthLeaves" class="container">Leaves from past month</h3>
                    <table ng-show="pastMonthLeaves" class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Worker</th>
                            <th style="min-width: 80px;">From</th>
                            <th style="min-width: 80px;">To</th>
                            <th style="min-width: 80px;">Days ammount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="leave in allLeaves | filter:filterNotArchivedWorker | filter: filterLeavesFromPastMonth | filter:filterLeaveApproved  | orderBy: from | itemsPerPage: paginatorCount"
                            pagination-id="pastMonthLeaves">
                            <td ng-repeat="worker in allWorkers" ng-if="worker.id == leave.worker_id">{{
                                worker.first_name}} {{worker.last_name}}
                            </td>
                            <td>{{ leave.from}}</td>
                            <td>{{ leave.to}}</td>
                            <td>{{ days(leave.from, leave.to) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="pastMonthLeaves" class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="pastMonthLeaves"/>
                    </div>
                    <canvas ng-show="pastMonthLeaves" id="leavesFromPastMonthChart" class="chart chart-pie" chart-data="leavesFromPastMonthData" chart-labels="leavesFromPastMonthLabels">
                </div>
            </td>
        </tr>
        <tr ng-show="allRecruitments.length > 0">
            <td><h2 ng-click="recruitment = !recruitment" class="pointer">Recruitment</h2></td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0">
                <div uib-collapse="recruitment">
                    <h3 ng-show="allAppliances.length >0" class="container">Currently there are {{ allAppliances.length
                        }} people taking part in recruitment proccess</h3>
                    <table ng-show="allAppliances.length >0" class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">First name</th>
                            <th style="min-width: 80px;">Last name</th>
                            <th style="min-width: 80px;">Uploaded on</th>
                            <th style="min-width: 80px;">Position</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="appliance in allAppliances  | orderBy: created_at | itemsPerPage: paginatorCount"
                            pagination-id="appliances">
                            <td>{{ appliance.first_name}}</td>
                            <td>{{ appliance.last_name}}</td>
                            <td>{{ appliance.created_at | date: "yyyy-MM-dd"}}</td>
                            <td>{{ appliance.recruitment.position.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="allAppliances.length >0" class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="appliances"/>
                    </div>
                    <h3 class="container">Currently we have {{countOpenRecruitments()}} open recruitments</h3>
                    <table class="table table-striped table-condensed well well-lg">
                        <thead>
                        <tr>
                            <th style="min-width: 80px;">Name</th>
                            <th style="min-width: 80px;">Internship</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="recruitment in allRecruitments | filter: filterOpenedRecruitments  | orderBy: recruitment.position.name | orderBy:recruitment.position.internship | itemsPerPage: paginatorCount"
                            pagination-id="openedRecruitments">
                            <td>{{ recruitment.position.name}}</td>
                            <td ng-if="recruitment.position.internship != true"><span
                                    class="glyphicon glyphicon-remove"></span></td>
                            <td ng-if="recruitment.position.internship == true"><span
                                    class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="centerOut">
                        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="openedRecruitments"/>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
