<div class="container fromTop" ng-init="perks.showPerks()">
    <h1 class="container">Show all perks</h1>
    <table ng-show="listOfPerks.length > 0" class="table table-striped table-condensed ">
        <thead>
        <tr>
            <th style="min-width: 100px;">Date</th>
            <th style="min-width: 80px; ">Reason</th>
            <th style="min-width: 80px;">Ammount</th>
            <th style="min-width: 80px;">Worker</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="perk in listOfPerks | orderBy: 'date' | itemsPerPage: paginatorCount">
            <td>{{ perk.date}}</td>
            <td>{{ perk.reason}}</td>
            <td>{{ perk.perks | currency}}</td>
            <td ng-repeat="worker in allWorkers" ng-if="worker.id == perk.worker_id">{{worker.first_name}} {{worker.last_name}}</td>
            <td><a ui-sref="editPerk({id: perk.id})" class="btn btn-warning">Edit</a></td>
            <td><a ng-click="perks.deletePerk(perk)" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="showWorkers" class="btn btn-default btnAlign">Add</button>
    </div>
</div>
