<div class="container fromTop" ng-init="wizardPosition.workerToEdit()">
    <h1 class="container">Adding position to {{workerToEdit.first_name}} {{workerToEdit.last_name}}</h1>
    <form name="workerForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Positions</label>
            <div class="col-sm-4">
                <ui-select multiple name="position_ids" ng-model="workerToEdit.position_ids" ui-select-required="true">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="position.id as position in allPositions | filter: $select.search">
                        {{position.name}}
                    </ui-select-choices>
                </ui-select>
                <p ng-show="workerForm.position_ids.$invalid" class="help-block"><b>Position is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">HR</label>
            <div class="col-sm-4">
                <input  type="checkbox" name="hr" ng-model="workerToEdit.hr" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ui-sref="wizardShowWorkers" class="btn btn-default btnAlign beetwenButtons" ng-click="wizardPosition.editWorker(workerForm.$valid)">Add</button>
                <button ui-sref="wizardAddWorkingTime" class="btn btn-default btnAlign" ng-click="wizardPosition.editWorker(workerForm.$valid)">Add and add working time to position</button>
                <button class="btn btn-default btnAlign beetwenButtons" ui-sref="wizardOptions">Options</button>
            </div>
        </div>
    </form>
</div>
