<div class="container fromTop" ng-init="wizardPosition.positionToEdit()">
    <h1 class="container">Adding required qualifications to {{positionToEdit.name}}</h1>
    <form name="positionForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-form-label col-sm-2">Required qualifications</label>
            <div class="col-sm-4">
                <ui-select multiple="true" ng-model="positionToEdit.qualification_ids">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="qualification.id as qualification in allQualifications | filter: $select.search ">
                        {{qualification.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ui-sref="wizardShowPositions" ng-click="wizardPosition.editPosition(positionForm.$valid)" class="btn btn-default btnAlign">Add</button>
                <button ui-sref="wizardShowWorkers" ng-click="wizardPosition.editPosition(positionForm.$valid)" class="btn btn-default btnAlign beetwenButtons" ng-disabled="positionForm.$invalid">Add and add position to workers</button>
                <button ui-sref="wizardOptions" class="btn btn-default btnAlign ">Options</button>
            </div>
        </div>
    </form>
</div>