<div class="container fromTop" ng-init="wizardPosition.initForm()">
    <h1 class="container">Add hours of work to position</h1>
    <form name="newWorkingTimeForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" >
            <label class="control-label col-sm-2">Date</label>
            <div class="col-sm-4">
                <pre>Selected date is: <em>{{newWorkingTime.date | date:'fullDate' }}</em></pre>
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-required="true" ui-date="{dateFormat: 'dd-mm-yy'}" ui-date-format="dd-mm-yy" name="date" ng-model="newWorkingTime.date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                    <p ng-show="newWorkingTimeForm.date.$error.required" class="help-block"><b>Date is required</b></p>
                </div>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : newWorkingTimeForm.from.$invalid && !newWorkingTimeForm.from.$pristine }">
            <label class="control-label col-sm-2" >From:</label>
            <div class="col-sm-4">
                <input  type="time" class="form-control" ng-min="minTime" name="from" ng-model="newWorkingTime.from" ng-required="true" />
                <p ng-show="newWorkingTimeForm.from.$invalid && !newWorkingTimeForm.from.$pristine" class="help-block">Just to remind you, our employees aren't working before 6 am</p>
                <p ng-show="newWorkingTimeForm.from.$error.required" class="help-block"><b>Time 'from' is required</b></p>
            </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : newWorkingTimeForm.to.$invalid && !newWorkingTimeForm.to.$pristine }">
            <label class="control-label col-sm-2" >To:</label>
            <div class="col-sm-4">
                <input  type="time" class="form-control" name="to" ng-min="newWorkingTime.from"  ng-model="newWorkingTime.to" ng-required="true" />
                <p ng-show="newWorkingTimeForm.to.$invalid && !newWorkingTimeForm.to.$pristine" class="help-block">Time 'to' cant be before time 'from'</p>
                <p ng-show="newWorkingTimeForm.to.$error.required" class="help-block"><b>Time 'to' is required</b></p>
                <p ng-show="below12()" class="help-block">Employees cant work more than 12h per day</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Positions:</label>
            <div class="col-sm-4">
                <ui-select multiple class="form-control" id="matchPositions" name="position_ids" ng-model="newWorkingTime.position_ids" ng-disabled="disable" ui-select-required="true" >
                    <ui-select-match> {{$item.name}} </ui-select-match>
                    <ui-select-choices repeat="position.id  as position in allPositions | filter:$select.search"> {{position.name}} </ui-select-choices>
                </ui-select>
                <p ng-show="newWorkingTimeForm.position_ids.$invalid" class="help-block"><b>Position is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Repeat everyweek:</label>
            <div class="col-sm-4">
                <input type="checkbox" ng-model = "everyWeek">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Repeat everyday:</label>
            <div class="col-sm-4">
                <input type="checkbox" ng-model = "everyDay">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Repeat without weeks:</label>
            <div class="col-sm-4">
                <input type="checkbox" ng-model = "withoutWeeks">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Repeat times (default 2):</label>
            <div class="col-sm-4">
                <input  type="number" class="form-control" ng-model="times" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ui-sref="main" class="btn btn-default btnAlign" ng-disabled="newWorkingTimeForm.$invalid" ng-click="wizardPosition.createWorkingTime(newWorkingTimeForm.$valid)">Add and finish</button>
                <button class="btn btn-default btnAlign beetwenButtons" ng-disabled="newWorkingTimeForm.$invalid" ng-click="wizardPosition.createWorkingTime(newWorkingTimeForm.$valid)">Add</button>
                <button class="btn btn-default btnAlign" ng-click="wizardPosition.createQualification(newQualificationForm.$valid)" ui-sref="wizardOptions">options</button>

            </div>
        </div>
    </form>

</div>
