<div class="container fromTop" ng-init="wizardPosition.initScopes()">
    <h1 class="container">Welcome to the position wizard</h1>
    <p>This wizard will help you to go through the process of creating positions with required qualifications and working time of this positions.</p>
    <button ui-sref="wizardPositionCreatePosition" class="btn btn-default btnAlign ">Start wizard</button>

</div>
