<div class="container fromTop">
    <h1 class="container">Options</h1>
    <form name="newPositionForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-if="positionCreated == false">
            <span class="glyphicon glyphicon-remove"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardPositionCreatePosition">Create new position</button>
        </div>
        <div class="form-group" ng-if="positionCreated == true">
            <span class="glyphicon glyphicon-ok"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardPositionCreatePosition">Create new position</button>
        </div>
        <div class="form-group" ng-if="qualificationCreated == false">
            <span class="glyphicon glyphicon-remove"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardCreateQualification">Create new qualification</button>
        </div>
        <div class="form-group" ng-if="qualificationCreated == true">
            <span class="glyphicon glyphicon-ok"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardCreateQualification">Create new qualification</button>
        </div>
        <div class="form-group" ng-if="qualificationAdded == false">
            <span class="glyphicon glyphicon-remove"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardShowPositions">Change qualifications in positions</button>
        </div>
        <div class="form-group" ng-if="qualificationAdded == true">
            <span class="glyphicon glyphicon-ok"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardShowPositions">Change qualifications in positions</button>
        </div>
        <div class="form-group" ng-if="addedToWorker == false">
            <span class="glyphicon glyphicon-remove"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardShowWorkers">Add position to some workers</button>
        </div>
        <div class="form-group" ng-if="addedToWorker == true">
            <span class="glyphicon glyphicon-ok"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardShowWorkers">Add position to some workers</button>
        </div>
        <div class="form-group" ng-if="workingTimeCreated == false">
            <span class="glyphicon glyphicon-remove"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardAddWorkingTime">Add working time to positions</button>
        </div>
        <div class="form-group" ng-if="workingTimeCreated == true">
            <span class="glyphicon glyphicon-ok"></span>
            <button class="btn btn-default beetwenButtons" ui-sref="wizardAddWorkingTime">Add working time to positions</button>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ui-sref="main">Finish</button>
        </div>

    </form>
</div>
