<div class="container fromTop" ng-init="wizardPosition.showPositions()">
    <h1 class="container">Showing all positions</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="min-width: 80px;">Salary</th>
            <th style="min-width: 80px;">Is active</th>
            <th style="min-width: 80px;">Required qualifications</th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="position in listOfPositions | orderBy:'name' | filter: searchParams | itemsPerPage: paginatorCount">
            <td>{{ position.name}}</td>
            <td>{{ position.salary | currency }} </td>
            <td ng-if="position.active == false"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="position.active == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td><span ng-repeat="qualification in position.qualifications">{{qualification.name}}, </span></td>
            <td><a ui-sref="wizardAddQualifications({id: position.id})" class="btn btn-default">Change required qualifications</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="wizardAddPosition" class="btn btn-default btnAlign">Add position to workers</button>
        <button ui-sref="wizardOptions" class="btn btn-default btnAlign beetwenButtons">Options</button>
    </div>
</div>
