<div class="container fromTop" ng-init="recruitments.details()">
    <h1 class="container">Appliance from {{appliance.first_name}} {{appliance.last_name}} for {{appliance.recruitment.position.name}}</h1>
    <h2 class="container">Personal data</h2>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Email</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="min-width: 80px;">Uploaded on</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ appliance.first_name}}</td>
            <td>{{ appliance.last_name}}</td>
            <td><a href="mailto:{{appliance.email}}">{{ appliance.email}}</a></td>
            <td>{{ appliance.pesel}}</td>
            <td>{{ appliance.created_at | date: "yyyy-MM-dd"}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Address</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Street</th>
            <th style="min-width: 80px;">Home number</th>
            <th style="min-width: 80px;">City</th>
            <th style="min-width: 80px;">Postcode</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ appliance.street}}</td>
            <td>{{ appliance.house_nr}}</td>
            <td>{{ appliance.city}}</td>
            <td>{{ appliance.post_code}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">Position</h3>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="min-width: 80px;">Internship</th>
            <th style="min-width: 80px;">Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ appliance.recruitment.position.name}}</td>
            <td ng-if="appliance.recruitment.position.internship != true"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="appliance.recruitment.position.internship == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td>{{ appliance.recruitment.position.salary | currency}}</td>
        </tr>
        </tbody>
    </table>
    <h3 ng-if="appliance.qualifications.length > 0" class="container">Qualifications</h3>
    <table ng-if="appliance.qualifications.length > 0" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="qualification in appliance.qualifications">
            <td>{{ qualification.name}}</td>
        </tr>
        </tbody>
    </table>
    <h3 class="container">CV</h3>

    <div class="centerOut">
        <div class="centerOut">
            <button ng-click="recruitments.zoomInViewer()" class="btn btn-default">Zoom in</button>
            <button ng-click="recruitments.zoomOutViewer()" class="btn btn-default">Zoom out</button>
            <button ng-click="recruitments.nextPageViewer()" class="btn btn-default">Next page</button>
            <button ng-click="recruitments.previousPageViewer()" class="btn btn-default">Previous page</button>
        </div>
        <pdf-viewer class="centerIn" delegate-handle="my-pdf-container" url="pdfUrl" scale="1" show-toolbar="false"></pdf-viewer>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="workerFromApplianceWizard({id: appliance.id})" class="btn btn-success btnAlign fromBottom">Accept</button>
        <button ui-sref="showCVApplianceWizard({id: appliance.recruitment.id})" class="btn btn-default btnAlign beetwenButtons fromBottom">Back</button>
    </div>
</div>
