<div class="container fromTop">
    <h1 class="container">Welcome to the adding workers from recruitment wizard</h1>
    <p>This wizard will help you to go through the process of accepting people who sent us their CV's</p>
    <button ui-sref="createWorkerFromApplianceWizzard" class="btn btn-default btnAlign ">Start wizard</button>
</div>
