<div class="container fromTop" ng-init="recruitments.init()">
    <h1 class="container">See recrutations</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <h2 class="container">Internships</h2>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="recruitment in allRecruitments | filter: searchParams | filter: isInternship | orderBy: 'recruitment.status' | itemsPerPage: paginatorCount" pagination-id="internships">
            <td>{{ recruitment.positionName}}</td>
            <td><a ui-sref="showCVApplianceWizard({id: recruitment.id})" class="btn btn-default">See CV</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="internships"/>
    </div>
    <h2 class="container">Jobs</h2>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="recruitment in allRecruitments | filter: searchParams | filter: isJob | orderBy: 'recruitment.position.name' | itemsPerPage: paginatorCount" pagination-id="jobs">
            <td>{{ recruitment.positionName}}</td>
            <td><a ui-sref="showCVApplianceWizard({id: recruitment.id})" class="btn btn-default">See CV</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length" pagination-id="jobs"/>
    </div>
</div>