<div class="container fromTop" ng-init="positions.init()">
    <h1 class="container">Creating new position</h1>

    <form name="newPositionForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" ng-model="newPosition.name" ng-required="true"/>

                <p ng-show="newPositionForm.name.$error.required" class="help-block"><b>Name is required</b></p>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : newPositionForm.salary.$invalid && !newPositionForm.salary.$pristine }">
            <label class="control-label col-sm-2">Salary</label>

            <div class="col-sm-4">
                <input type="number" class="form-control" name="salary" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                       ng-model="newPosition.salary" ng-required="true"/>

                <p ng-show="newPositionForm.salary.$invalid && !newPositionForm.salary.$pristine" class="help-block">
                    Salary has to be a number</p>

                <p ng-show="newPositionForm.salary.$error.required" class="help-block"><b>Salary is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-form-label col-sm-2">Required qualifications</label>

            <div class="col-sm-4">
                <ui-select multiple="true" ng-model="newPosition.qualification_ids">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices
                            repeat="qualification.id as qualification in allQualifications | filter: $select.search">
                        {{qualification.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Internship</label>

            <div class="col-sm-1">
                <input type="checkbox" name="active" ng-model="newPosition.internship"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ui-sref="showPositions" class="btn btn-default btnAlign fromBottom" ng-disabled="newPositionForm.$invalid"
                        ng-click="positions.createPosition(newPositionForm.$valid)">Submit
                </button>
            </div>
        </div>
    </form>
</div>
