<div class="container fromTop" ng-init="positions.positionToEdit()">
    <h1 class="container">Editing position</h1>

    <form name="positionForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" ng-model="positionToEdit.name" ng-required="true"/>

                <p ng-show="positionForm.name.$error.required" class="help-block"><b>Name is required</b></p>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : newPositionForm.salary.$invalid && !newPositionForm.salary.$pristine }">
            <label class="control-label col-sm-2">Salary</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" name="salary" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                       ng-model="positionToEdit.salary" ng-required="true"/>

                <p ng-show="positionForm.salary.$invalid && !positionForm.salary.$pristine" class="help-block">Salary
                    has to be a number</p>

                <p ng-show="positionForm.salary.$error.required" class="help-block"><b>Salary is required</b></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-form-label col-sm-2">Required qualifications</label>

            <div class="col-sm-4">
                <ui-select multiple="true" ng-model="positionToEdit.qualification_ids" id="qualification_ids">
                    <ui-select-match>{{$item.name}}</ui-select-match>
                    <ui-select-choices
                            repeat="qualification.id as qualification in allQualifications | filter: $select.search ">
                        {{qualification.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Internship</label>

            <div class="col-sm-4">
                <input type="checkbox" name="internship" ng-model="positionToEdit.internship"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button ng-click="positions.editPosition(positionForm.$valid)" class="btn btn-default btnAlign"
                        ng-disabled="positionForm.$invalid">Submit
                </button>
            </div>
        </div>
    </form>
</div>