<div class="container fromTop" ng-init="positions.showPositions()">
    <h1 class="container">Showing all positions</h1>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Name</th>
            <th style="min-width: 80px;">Salary</th>
            <th style="min-width: 80px;">Internship</th>
            <th style="min-width: 80px;">Required qualifications</th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
            <th style="width:20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="position in listOfPositions | orderBy:'name' | itemsPerPage: paginatorCount">
            <td>{{ position.name}}</td>
            <td>{{ position.salary | currency }}</td>
            <td ng-if="position.internship != true"><span class="glyphicon glyphicon-remove"></span></td>
            <td ng-if="position.internship == true"><span class="glyphicon glyphicon-ok"></span></td>
            <td><span ng-repeat="qualification in position.qualifications">{{qualification.name}}, </span></td>
            <td><a ng-click="positions.createRecruitment(position)" ng-show="position.recruitments.length == 0" class="btn btn-default">Add to recruitment</a></td>
            <td><a ui-sref="editPosition({id: position.id})" class="btn btn-warning">Edit</a></td>
            <td><a ng-click="positions.deletePosition(position)" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="createPosition" class="btn btn-default btnAlign">Add</button>
    </div>
</div>
