@import "compass";
.pointer{
  cursor: pointer;
}
.navbar-default.transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.fromTop{
  margin-top:50px;
}
@media (min-width: 767px){
  .fromTop{
    margin-top: 150px;
  }
}
@media (min-width: 1241px) {
  .fromTop {
margin-top:100px;  }
}
@media (min-width: 1430px) {
  .fromTop {
margin-top:50px;  }
}

input, input[type="checkbox"], .inputLabel {
  margin-top: 10px;

}
.fromBottom{
  position: relative;
  bottom: 50px;
}
.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.glyphicon-remove{
  color: red;
}
.glyphicon-ok{
  color: green;
}
.ownTable{
  width: 1500px;
  border: 0px;
}
.border0{
  border: 0px;
}
///* when hiding the picture */
//.ng-hide-add         { animation:1s flipInXBack ease; }
//
///* when showing the picture */
//.ng-hide-remove      { animation:1s flipInX ease; }
//
///* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
///* flip in */
//@keyframes flipInX {
//  0% {
//    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
//    transition-timing-function: ease-in;
//    opacity: 0;
//  }
//
//  40% {
//    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
//    transition-timing-function: ease-in;
//    transition-timing-function: ease-in;
//  }
//
//  60% {
//    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
//    opacity: 1;
//  }
//
//  80% {
//    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
//  }
//
//  100% {
//    transform: perspective(400px);
//    transform: perspective(400px);
//    transform: perspective(400px);
//  }
//}
//@keyframes flipInXBack {
//  0% {
//    transform: perspective(400px);
//    transform: perspective(400px);
//    transform: perspective(400px);
//  }
//
//  10% {
//    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
//  }
//
//  30% {
//    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
//    opacity: 1;
//  }
//
//  50% {
//
//    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
//    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
//    transition-timing-function: ease-in;
//    transition-timing-function: ease-in;
//  }
//
//  100% {
//
//    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
//    transition-timing-function: ease-in;
//    opacity: 0;
//  }
//}
//
///* light speed out */
//@keyframes lightSpeedOut {
//  0% {
//    opacity: 1;
//  }
//
//  100% {
//    transform: translate3d(100%, 0, 0) skewX(30deg);
//    transform: translate3d(100%, 0, 0) skewX(30deg);
//    opacity: 0;
//  }
//}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.sideleft{
  float: left;
  width: 50%;
}
.sideright{
  margin-left: 50%;
}
.centerIn{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.centerOut{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.formTable{
  border: 0px;
  width:400px;
}
.high{
  height: 150px;
  text-align: left;
  padding-top: -75px;
}
.btnAlign{
  float:right;
  margin-top: 10px;
}
.btnAlign2{
 margin-left: 20%;
}
.slide1, .slide2, .slide3 {
  min-height: 560px;
  /* Must have a height or min-height set due to use of background images */
  background: cover center center;
}
.alignLeft{
  margin-left:40px;
}
.alignRight{
  margin-right:20px;
}
.beetwenButtons{
  margin-left:5px;
  margin-right: 5px;
}
.slide1 {
  background: url(http://cms.sbcounty.gov/portals/54/Images/executive-hr-jobs.jpg?ver=2015-06-11-101957-990);
}

.slide2 {
  background: url(http://cms.sbcounty.gov/portals/54/Images/executive-hr-jobs.jpg?ver=2015-06-11-101957-990);
}
.slide3 {
  background: url(http://cms.sbcounty.gov/portals/54/Images/executive-hr-jobs.jpg?ver=2015-06-11-101957-990);
}

/* Carousel Fade Effect */

.carousel.carousel-fade {
  .item {
    @include transition(opacity 1s linear);
    opacity: .5;
  }
  .active {
    &.item {
      opacity: 1;
    }
    &.left, &.right {
      left: 0;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity = 0);
    }
  }
}

/* Carousel Overlay */

.carousel-overlay {
  position: absolute;
  width: 30%;
  bottom: 100px;
  padding-bottom: 10px;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  @include box-shadow(0px 0px 20px 5px rgba(0, 0, 0, 0.75));
}