<div class="container fromTop">
    <h1 class="container">Welcome to the position wizard</h1>
    <p>This wizard will help you to go through the process of checking why someone is not at work.</p>
    <button ui-sref="wizardNotAtWorkShowWorkers" class="btn btn-default btnAlign ">Start wizard</button>
</div>
