<div class="container fromTop" ng-init="workingTimes.schedule()">
    <h1 class="container">Hi {{currentUser.first_name}}, here are working hours of {{worker.first_name}} {{worker.last_name}}</h1>
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
    <div class="col-sm-offset-7 col-sm-5">
        <button ui-sref="wizardNotAtWorkShowWorkers" class="btn btn-default btnAlign">Back</button>
    </div>
</div>
