<div class="container fromTop" ng-init="workers.showWorkers()">
    <h1 class="container">Search for a worker</h1>
    <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..."></nit-advanced-searchbox>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Pesel</th>
            <th style="min-width: 80px;">Position</th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="worker in listOfWorkers | orderBy: 'pesel' | filter: searchParams | itemsPerPage: paginatorCount">
            <td>{{ worker.first_name}}</td>
            <td>{{ worker.last_name}} </td>
            <td>{{ worker.pesel}}</td>
            <td><span ng-repeat="position in worker.positionNames">{{position}}</span></td>
            <td><a ui-sref="scheduleWizard({id: worker.id})" class="btn btn-default">See schedule</a></td>
        </tr>
        </tbody>
    </table>
    <div class="centerOut">
        <dir-pagination-controls boundry-links="true" max-size="length"/>
    </div>
</div>
