<!DOCTYPE html>
<html ng-app="app">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title ng-bind="( meta.title || 'HumanoResourco')"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-main">
      <div>
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                  <span class="sr-only">Toggle Navigation</span>
                  <span class="fa fa-chevron-down"></span> Menu
              </button>
              <a class="navbar-brand alignLeft" ui-sref="main"><span class="fa fa-paw"></span>HR managment</a>
          </div>
          <div class="collapse navbar-collapse alignRight" id="navCollapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a ui-sref="main">Home <span class="glyphicon glyphicon-home"></span></a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="(!isAuthenticated || ifHR || ifBoss) && !ifArchived">Recrutation <span class="glyphicon glyphicon-file  "></span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="internshipsRecrutation" ng-if="!isAuthenticated">Internships</a></li>
                      <li><a ui-sref="jobsRecrutation" ng-if="!isAuthenticated">Jobs</a></li>
                      <li><a ui-sref="manageRecrutation" ng-if="ifHR ">Manage</a></li>
                    </ul>
                  </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="(ifHR  || ifBoss) && !ifArchived">Wizards <span class="glyphicon glyphicon-wrench"></span>
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a ui-sref="wizardPositionInfo">Position wizard</a></li>
                    <li><a ui-sref="ApplianceInfoWizzard">Create worker from appliance wizard</a></li>
                    <li><a ui-sref="infoWorkerWizard">Create worker wizard</a></li>
                    <li><a ui-sref="NotAtWorkInfoWizard">Why he/she is not at work?</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="(ifHR  || ifBoss) && !ifArchived">Workers <span class="glyphicon glyphicon-user"></span>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="createWorker">Add worker</a></li>
                  <li><a ui-sref="searchWorker">Search</a></li>
                  <li><a ui-sref="showWorkers">Show all</a></li>
                  <li><a ui-sref="showArchive">Show archived</a></li>
                </ul>
              </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="(ifHR  || ifBoss) && !ifArchived">Perks <span class="glyphicon glyphicon-usd"></span>
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a ui-sref="searchWorker">Add perks</a></li>
                    <li><a ui-sref="searchPerk">Search</a></li>
                    <li><a ui-sref="showPerks">Show all</a></li>
                  </ul>
                </li>

                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="(ifHR  || ifBoss) && !ifArchived">Positions <span class="glyphicon glyphicon-lock"></span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="createPosition">Add position</a></li>
                      <li><a ui-sref="searchPosition">Search</a></li>
                      <li><a ui-sref="showPositions">Show all</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="(ifHR  || ifBoss) && !ifArchived">Qualifications <span class="glyphicon glyphicon-list  "></span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="createQualification">Add qualification</a></li>
                      <li><a ui-sref="searchQualification">Search</a></li>
                      <li><a ui-sref="showQualifications">Show all</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if=" (ifHR ||  ifBoss ||  ifWorker) && !ifArchived">Leaves <span class="glyphicon glyphicon-calendar"> </span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="sendLeaves">Send request</a></li>
                      <li><a ui-sref="leaves">See your leaves</a></li>
                      <li><a ui-sref="requestedLeaves" ng-if="ifHR || ifBoss">See requests</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if=" (ifHR ||  ifBoss ||  ifWorker) && !ifArchived">Statistics <span class="glyphicon glyphicon-signal "> </span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="ownStatistics">Your statistics</a></li>
                      <li><a ui-sref="statistics" ng-if="ifHR || ifBoss" >Statistics</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if=" (ifHR ||  ifBoss ||  ifWorker) && !ifArchived">Hours of work <span class="glyphicon glyphicon-time"></span></span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="hoursOfWork">Hours of work</a></li>
                      <li><a ui-sref="createHoW" ng-if="ifHR || ifBoss">Add hours of work</a></li>
                      <li><a ui-sref="searchWorkingTime" ng-if="ifHR || ifBoss">Search hours of work</a></li>
                      <li><a ui-sref="showHoW" ng-if="ifHR || ifBoss">Show all</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-if="false">Data managment <span class="glyphicon glyphicon-hdd  "></span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ui-sref="importData">Import</a></li>
                      <li><a ui-sref="exportData">Export</a></li>
                    </ul>
                  </li>
                  <li ng-if="isAuthenticated"><a ui-sref="logout">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
                  <li ng-if="!isAuthenticated"><a ui-sref="login">Log In <span class="glyphicon glyphicon-log-in"></span></a></li>
              </ul>
          </div>
      </div>
  </nav>
<div class="content view-animate" ui-view></div>
</body>
</html>
